[Unit]
Description=Detection Sampler
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/starwit/sae-detection-sampler
ExecStart=/usr/local/bin/sae-detection-sampler
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target